@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,800,900");

// Body
$body-bg: #f5f5f5;

// Borders
$grey-border: #e3e3e3;

// Colors

$darkyellow: rgba(178, 139, 36, 1);
$lightyellow: rgba(255, 213, 103, 1);
$lightblue: #80a0ff;
$blue: #678dff;
$darkblue:  #3252b2;
$lightgreen: #dff0d8;
$green: #d0e9c6;
$darkgreen: #3c763d;
$lightred: #f2dede;
$red: #ebcccc;
$darkred: #a94442;
$mega-btn: rgba(217, 0, 7, 0.7);